@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(248, 248, 248, 1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(183, 5, 105, 1);
  border-radius: 20px;
}

.logo {
  background-image: url("./assets/images/SCA-LOGO.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.slick-slide div div[tabIndex] {
  /* border: 2px solid blue !important;
  width: 100% !important; */
}
.custom-skeleton {
  overflow: hidden;
}

.custom-skeleton::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  box-shadow: 0 0 80px 20px #fff;

  height: 100%;
  animation: skeletonSlide 0.6s infinite ease-in-out;
}

@keyframes skeletonSlide {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}

@media (max-width: 1023px) {
  .menu-items {
    top: 78px;
    left: 0;
    right: 0;
    background-color: white;
    position: fixed;
    padding: 20px;
    transform: translateX(1000px);
    transition: all 0.3s ease-in-out;
  }

  .open-nav {
    transform: translateX(0);
  }
}
